In [65]:
import pandas as pd
from PIL import Image
import io

In [66]:
def get_file_path(filename, label):
    result = "body_posture_dataset/"+str(label)+"/"+filename
    return result

In [67]:
train1= pd.read_csv("body_posture_dataset/train_1.csv")
train2= pd.read_csv("body_posture_dataset/train_2.csv")
train3= pd.read_csv("body_posture_dataset/train_3.csv")
test1= pd.read_csv("body_posture_dataset/test_1.csv")
test2= pd.read_csv("body_posture_dataset/test_2.csv")
test3= pd.read_csv("body_posture_dataset/test_3.csv")

In [68]:
LABEL = 3
SAVE_PATH = "cropped_dataset/train/3/"
FILE = train3

In [69]:
filenames = [ row["filename"] for index, row in FILE.iterrows()]

In [70]:
bboxs =[ 
    [row["xmin"], row["ymin"], row["xmax"], row["ymax"]] 
    for index, row in FILE.iterrows()  
]

In [71]:
for index, filename in enumerate(filenames):
    img = Image.open(get_file_path(filename, LABEL))
    crop_img = img.crop(bboxs[index])
    crop_img.save(SAVE_PATH+filename)

In [72]:
train1

,filename,width,height,class,xmin,ymin,xmax,ymax,score
0,aug_1_1_0_6353.jpg,388,284,person,188.0,84.0,226.0,176.0,0.955701
1,aug_1_4_0_5245.jpg,388,284,person,56.0,106.0,152.0,192.0,0.966268
2,aug_1_1_0_8438.jpg,388,284,person,24.0,74.0,122.0,169.0,0.900105
3,aug_1_4_0_1619.jpg,388,284,person,260.0,70.0,296.0,196.0,0.977881
4,aug_1_2_0_1283.jpg,388,284,person,51.0,129.0,104.0,231.0,0.965116
...,...,...,...,...,...,...,...,...,...
4495,300213.jpg,388,284,person,60.0,104.0,126.0,202.0,0.993099
4496,aug_1_4_0_4432.jpg,388,284,person,174.0,124.0,253.0,212.0,0.820047
4497,200251.jpg,388,284,person,66.0,111.0,124.0,211.0,0.985589
4498,aug_1_2_0_8130.jpg,388,284,person,48.0,83.0,108.0,182.0,0.936978
4499,aug_1_4_0_8766.jpg,388,284,person,24.0,99.0,75.0,202.0,0.859999